version: 2.1

orbs:
  aws-cli: circleci/aws-cli@5.4.1
  rj-package: rhems-japan/package@0.0.83

main-filter: &main-filter
  filters:
    branches:
      only: main

jobs:
  debug-job:
    docker:
      - image: cimg/base:2023.06-20.04
    resource_class: small
    steps:
      - checkout
#  deploy-s3:
#    docker:
#      - image: cimg/python:3.10.4
#    steps:
#      - checkout
#      - add_ssh_keys:
#          fingerprints: SHA256:D7K9VjstwPPb++QRHwU87Kvh76gaparnC9FGdWfnBlo
#      - aws-cli/setup:
#          profile_name: WEB_IDENTITY_PROFILE
#          role_arn: ${AWS_OIDC_ROLE_ARN}
#          role_session_name: circleci-portal-deploy-s3
#      - run:
#          name: aws s3 sync
#          command: |
#            aws s3 sync . s3://${S3_BUCKET_NAME} --delete --exclude ".git/*" --exclude ".circleci/*"

workflows:
  debug:
    jobs:
      - debug-job:
        context: aws-063150541913
#  deploy-main:
#    jobs:
#      - deploy-s3:
#          context: billsan-aws-client
#          <<: *main-filter
